$color-primary: #11141d;
$color-secondary: #fbfbfc;
$color-inactive: #7f7f87;
$color-button: #3bcf90;

$heading--main: 3.2rem;

$heading--medium: 1.5rem;
$heading--medium-2: 1.5rem;

$heading--small: 1.2rem;

$heading--large: 5.5rem;
