/* You can add global styles to this file, and also import other style files */
@import "stylings/variables.scss";
@import "stylings/mixins.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    // width < 1800
    font-size: 62.5%; //1rem = 12, 12/16
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-potr) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  background-color: #11141d;

  @media only screen and (max-width: 850px) {
    padding: 3rem 0rem;
  }
}

::selection {
  background-color: $color-bg;
  color: $color-secondary;
}
