<div class="container">
  <div class="landing">
    <div class="landing__heading-style">
      <p class="landing__heading-style__1">Your Voice Matters</p>
    </div>
    <div class="landing__heading-styles">
      <p class="landing__heading-styles__2__part1">
        <span class="italic">Your </span>
        <span class="bold"> voice </span>
      </p>
      <p class="landing__heading-styles__2__part2">
        <span class="bold">can </span>
        <span class="italic"> change</span>
      </p>
      <p class="landing__heading-styles__2__part3">
        <span class="bold"> worlds.</span>
      </p>
    </div>
    <div class="landing__heading-style">
      <p class="landing__heading-style__3">
        It only takes one voice at the right pitch <br />
        to start an <span class="italic">avalanche.</span>
      </p>
    </div>
    <div class="landing__heading-style">
      <li class="landing__heading-style__4">
        <a href="">Have an RTcle? Share it here. </a>
      </li>
    </div>
  </div>
</div>
