// font-family: 'Abel', sans-serif;
// font-family: 'Acme', sans-serif;
// font-family: 'Italiana', serif;
// font-family: 'Italianno', cursive;
// font-family: 'Josefin Sans', sans-serif;
//font-family: "Righteous", cursive;

@import "../../stylings/variables.scss";

@mixin bold {
  font-family: "Righteous", cursive;
  font-size: $heading--large;
  font-style: normal;
  color: $color-secondary;
  font-weight: 500;
}

@mixin italic {
  font-family: "Josefin Sans", sans-serif;
  font-size: $heading--large;
  font-style: italic;
  color: $color-button;
  font-weight: 100;
}

.container {
  // background-color: aqua;
  margin: 1.5rem 14.5rem;
  padding: 5rem;
  height: 65vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.landing {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-around;
  // background-color: rgb(255, 230, 0);
  height: 55vh;

  &__heading-styles {
    &__2 {
      font-size: $heading--large;

      &__part1 {
        margin-bottom: -7px;
      }

      &__part1,
      &__part2,
      &__part3 {
        animation: moveInLeft 1.8s cubic-bezier(0.95, 0.05, 0.795, 0.035);
        // background-color: rgb(0, 183, 255);
        padding: 0 0.5rem;
        .italic {
          @include italic();
          line-height: 5rem;
        }

        .bold {
          @include bold();
          line-height: 5rem;
        }
      }
    }
  }

  &__heading-style {
    // background-color: rgb(47, 0, 255);
    line-height: 3.5rem;
    padding: 1rem;

    &__1 {
      font-size: $heading--medium-2;
      font-weight: 500;
      color: $color-button;
      animation: moveInLeft 1.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    }

    &__3 {
      font-size: medium;
      line-height: 2rem;
      color: $color-inactive;
      font-weight: 600;
      animation: moveInLeft 2.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);

      .italic {
        font-style: italic;
        color: $color-secondary;
      }
    }
    &__4 {
      list-style: none;
      animation: moveInLeft 3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
      a {
        font-size: small;
        text-decoration: none;
        color: $color-button;
      }
      &__iconArrow {
        color: $color-button;
        font-size: small;
      }
    }
  }
}

.rightside {
  flex-shrink: 0;
  height: 100%;
  img {
    height: 110%;
    flex-shrink: 0;
    animation: moveInRight 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(700px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
