<div class="grid-container">
  <div class="article-head">
    <div class="article-head__main">
      John Lee: Who is Hong Kong's new hardline pro-Beijing leader?
    </div>
    <div class="article-head__date">
      <span class="icon-clock"><fa-icon [icon]="faClock"></fa-icon></span> 5
      hours ago
    </div>
    <div class="article-head__share-icon">
      <fa-icon [icon]="faSquareShareNodes"></fa-icon>
    </div>
  </div>
  <div class="side">
    <div class="side__top-stories">
      <h2 class="side__top-stories__heading">Top Stories</h2>
      <div class="side__top-stories__story">
        <div class="heading">Xi Jin Ping defends China's rule</div>
        <div class="time">2 hours ago</div>
      </div>
      <div class="side__top-stories__story">
        <div class="heading">What will be the next 25 years for Hong Kong?</div>
        <div class="time">12 hours ago</div>
      </div>
      <div class="side__top-stories__story">
        <div class="heading">
          'Prophet row' set country on fire - India Court
        </div>
        <div class="time">5 hours ago</div>
      </div>
    </div>
    <div class="side__features">
      <h2 class="side__features__heading">Features</h2>
      <div class="side__features__story">
        <ul>
          <img
            class="fs-images"
            src="assets/Images/assam-flood-1.jpg"
            alt="Assam-flood"
          />
          <div class="heading">Death and despair after urban flood</div>
        </ul>
      </div>
      <div class="side__features__story">
        <ul>
          <img class="fs-images" src="assets/Images/Japan.jpg" alt="" />
          <div class="heading">
            Living through Japan's hottest summer on record
          </div>
        </ul>
      </div>
      <div class="side__features__story">
        <ul>
          <img
            class="fs-images"
            src="assets/Images/petrol_rate_new-delhi_en.1574075645.jpg"
            alt=""
          />
          <div class="heading">Petrol rate increase in Delhi</div>
        </ul>
      </div>
    </div>
    <div class="side__elsewhere">
      <h2 class="side__elsewhere__heading">Elsewhere</h2>
      <div class="side__elsewhere__story">
        <img class="ew-images" src="assets/Images/zoom-camera.jpg" alt="" />
        <div class="heading">The case for turning off your Zoom Camera</div>
        <p class="desc">
          Workers may have a strong argument against apeearing on screen
        </p>
      </div>
      <div class="side__elsewhere__story">
        <img class="ew-images" src="assets/Images/orange-juice.jpg" alt="" />
        <div class="heading">A breakfast staple created by accident</div>
        <p class="desc">
          More than a century ago, a glut of oranges kick started a craze
        </p>
      </div>
    </div>
  </div>
  <div class="main-body">
    <hr />
    <div class="main-body__c">
      <img src="assets/Images/China_news_1.jpg" alt="" />
      <p class="img-desc">
        Mr Lee (centre) became one of the faces of the local government in 2019
        when police clashed with protesters in the streets
      </p>
      <p class="main-body__c__para">
        Former security chief John Lee Ka-chiu has been sworn in as Hong Kong's
        next leader, in what is widely seen as a move by the Chinese government
        to tighten its grip on the city. He is replacing Carrie Lam following
        the city's chief executive election in May - in which he was the sole
        candidate. <br />
        Known for his pro-Beijing hardline views, he is not exactly well-liked,
        having garnered only 34.8 points out of 100 in a recent popularity
        survey. But this matters little in Hong Kong where the public does not
        get to directly elect their leader - instead, Mr Lee was essentially
        handpicked by Beijing. <br />
        The 64-year-old was chosen by an election committee staffed mostly by
        Beijing loyalists, who voted in what was basically a rubber-stamp
        election. His 21-member cabinet too largely comprises pro-Beijing
        leaders, including three who, like him, were sanctioned by the US for
        suppressing freedom in Hong Kong. <br />
        Rising through the ranks Mr Lee's background is in law enforcement -
        unlike his predecessors, who either had ties with the business community
        or experience in the civil service. He joined the Hong Kong police force
        in 1977 at the age of 20. His early career focused on tackling criminal
        activity. The father of two was both a Hong Kong resident and a British
        citizen, until he gave up his UK citizenship shortly before he was
        appointed Under Secretary for Security in 2012. <br />

        When he was promoted to Secretary of Security under Carrie Lam's
        administration, he played a pivotal role in pushing for the ill-fated
        extradition bill in 2019, which sparked the city's worst political and
        social turmoil in decades. When massive street protests against the bill
        erupted, he continued to back it. He became one of the faces of the
        local government in press conferences. The protests, which began
        peacefully, at times descended into violent clashes between the police
        and some demonstrators. <br />
        The police, under Mr Lee's watch as security chief, were criticised for
        their heavy use of water cannons, tear gas, rubber bullets and
        occasionally live ammunition in running battles with the protesters.
        <br />Read more of our coverage on Hong Kong Five moments in fraught
        Hong Kong-China relations What will the next 25 years hold for Hong
        Kong? Why business is not giving up on Hong Kong Hong Kong's handover
        explained But Mr Lee was highly critical of the protests and fervently
        defended the Hong Kong police's use of force, saying that the violent
        actions by some protesters amounted to "terrorism" and "extremism".
        YouTube blocked his campaign account after the US sanctioned him. But Mr
        Lee has defended his position fiercely, saying he was only doing his
        duty "to safeguard security". <br />
      </p>

      <img src="assets/Images/China_news_2.jpg" alt="" />
      <p class="img-desc">
        Hong Kong's protests turned violent, with police forces using tear gas,
        rubber bullets, water cannons and sometimes live ammunition
      </p>
      <p class="main-body__c__para">
        In June 2021, he was appointed Chief Secretary of Administration, the
        city's second most powerful position. He held the post for less than a
        year, before resigning in April to run for the top job. Security above
        all else In June 2020, China passed the draconian national security law
        for Hong Kong, which made it easier to punish protesters and led to the
        arrest of more than 100 dissidents. Mr Lee was then appointed a member
        in a newly established committee that oversees national security
        matters. He said the law has helped Hong Kong restore "stability from
        chaos", and he will continue to eliminate "the ideology of Hong Kong
        independence, violence and extremism". <br />
        He has hinted his time in office will prioritise security issues,
        including the security legislation of Article 23, above all else. This
        is an item in the Basic Law, Hong Kong's mini constitution, which says
        the city should enact its own legislation to "prohibit any act of
        treason, secession, sedition, subversion" against Beijing. What is the
        Basic Law and how does it work? Since an aborted attempt in 2003, no
        Hong Kong leader has given it another try, but now Mr Lee is calling it
        "a top priority" for his administration. <br />

        He has also become the chairman of a separate committee with the power
        to decide who are eligible "patriots" to run in any election in Hong
        Kong. Mr Lee has taken a hardline position on the media, saying last
        year that the Hong Kong government would look into making laws to
        address what he described as "fake news" and a national security issue.
        Beijing's 'Pikachu' His critics have nicknamed him Pikachu, a character
        from the cartoon Pokémon. It's a play on his Chinese name Ka-Chiu but
        also refers what some say is a pet-like loyalty to Beijing. <br />
        Political commentators believe his selection shows a "shift of priority"
        from Beijing, and it needs to be viewed in the context of the current
        state of China-US relations. "Beijing seems convinced now the US is
        using Hong Kong as a base to try to subvert China," said political
        scientist Willy Wo-Lap Lam. Critics also say Mr Lee's appointment is
        further evidence of how Hong Kong is being turned into a "police state",
        and warn that political crackdowns will intensify under his watch.
        "Choosing him (Mr Lee) signals that the Chinese Communist Party is not
        confident about security in Hong Kong. <br />
      </p>
      <img src="assets/Images/China_news_3.jpg" alt="" />
      <p class="img-desc">
        Mr Lee (second from right), seen here with Chinese officials, ran
        unopposed for Hong Kong's top post with Beijing's blessing
      </p>
      <p class="main-body__c__para">
        It also lets us know that the central government continues to distrust
        the Hong Kong government and people," wrote John Burns in a recent
        column for Hong Kong Free Press, an independent news website. <br />
        Ronson Chan, chairman of the Hong Kong Journalists Association, says
        there is a real worry that people might be "criminalised for their
        expression or their thoughts", adding that his association intends to
        raise issues about press freedom with Mr Lee's administration. Under the
        national security law, independent publications such as tabloid Apple
        Daily and news website Stand News have been shut down, while journalists
        and media executives have been charged with "colluding with foreign
        forces" and sedition. <br />
        There have also been concerns that Mr Lee lacks experience managing the
        economy and social welfare. He has taken over at a time where the global
        financial hub is struggling due to the Covid-19 pandemic. He will also
        have to address issues such a lack of housing and growing inequality.
        But he appears to have secured the support of the city's elite. <br />
        A week after his nomination, Mr Lee formed an advisory team that
        includes many prominent figures, including Hong Kong's richest man Li
        Ka-shing and China's top advisory committee member Henry Tang. Even
        movie star Jackie Chan is on the list. <br />
        Victor Li, chairman of CK Hutchison Holdings Ltd, said in a statement
        that Mr Lee is "a suitable choice" for the city's next leader, "as a
        city can only prosper when it is stable". Mr Lee has described Hong Kong
        as a symphony orchestra and said that, despite his lack of experience in
        running a top financial city, he will be its "conductor". Beijing, it
        appears, has also come to the same conclusion.
      </p>
    </div>
    <div class="main-body__like-share">
      <div class="icon-like"></div>
      <div class="icon-share"></div>
    </div>
  </div>
  <div class="comments">
    <h2 class="comments__heading">Popular Comments</h2>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-2.png" alt="" />
      <p class="indi-comment">This was an interesting read.</p>
    </div>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-3.png" alt="" />
      <p class="indi-comment">Well made article.</p>
    </div>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-4.png" alt="" />
      <p class="indi-comment">Nice work there.</p>
    </div>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-6.png" alt="" />
      <p class="indi-comment">Awesome.</p>
    </div>
  </div>
  <div class="more">
    <h3 class="more-heading">More on this story</h3>
    <div>
      <ul class="more__story">
        <img class="ms-image" src="assets/Images/carrie-lam.jpg" alt="" />
        <h2 class="ms-heading">
          Carrie Lam: The controversial leader of Hong Kong
        </h2>
        <p class="ms-date">28 September 2021</p>
      </ul>
    </div>
    <div>
      <ul class="more__story">
        <img class="ms-image" src="assets/Images/china hong kong.jpg" alt="" />
        <h2 class="ms-heading">
          Why China is bent on crushing dissent in Hong Kong
        </h2>
        <p class="ms-date">26 May 2021</p>
      </ul>
    </div>
    <div>
      <ul class="more__story">
        <img class="ms-image" src="assets/Images/hong-kong-nsl.jpg" alt="" />
        <h2 class="ms-heading">What is Hong Kong's national security law?</h2>
        <p class="ms-date">3 days ago</p>
      </ul>
    </div>
    <div>
      <ul class="more__story">
        <img
          class="ms-image"
          src="assets/Images/Crossroads_201503_1.jpg"
          alt=""
        />
        <h2 class="ms-heading">The exiles: Hong Kong at a crossroads</h2>
        <p class="ms-date">30 January 2021</p>
      </ul>
    </div>
  </div>
  <div class="category">
    <h3 class="category__heading">Explore others</h3>
    <div class="category__categories">
      <h2 class="category-el">India</h2>
      <h2 class="category-el">China</h2>
      <h2 class="category-el">America</h2>
      <h2 class="category-el">Australia</h2>
      <h2 class="category-el">Srilanka</h2>
      <h2 class="category-el">Germany</h2>
    </div>
  </div>
</div>
