@import "../../stylings/variables.scss";
@import "../../stylings/mixins.scss";

// font-family: 'Abel', sans-serif;
// font-family: 'Acme', sans-serif;
// font-family: 'Italiana', serif;
// font-family: 'Italianno', cursive;
// font-family: 'Josefin Sans', sans-serif;

.grid-container {
  // background-color: aquamarine;
  padding: 3rem;
  margin-top: 50vh;
  display: grid;
  grid-template-columns: minmax(15rem, 2fr), minmax(15rem, 1fr);
  grid-template-rows: min-content;

  @media only screen and (max-width: 850px) {
    padding: 3rem 0rem;
  }
}

.article-head {
  background-color: $color-secondary;
  grid-column: span 2;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__main {
    font-family: "Abel", sans-serif;
    font-size: $f-ch-main-1;
    font-weight: 600;
  }

  &__date {
    font-family: "Abel", sans-serif;
    font-size: $f-ch-main-3-4;
    color: $color-desc;

    .icon-clock {
      font-size: $f-ch-main-3-4;
    }
  }

  &__share-icon {
    margin-top: 1rem;
    color: rgb(236, 0, 0);
    font-size: $f-ah-main-2;
    cursor: pointer;
  }
}

.side {
  // background-color: rgb(0, 140, 255);
  background-color: $color-secondary;
  grid-row: 2/5;
  grid-column: 2/3;
  padding: 2.5rem;
  padding-top: 0rem;
  display: grid;
  grid-template-columns: minmax(15rem, 1fr);
  grid-gap: 5rem;

  &__top-stories {
    padding-left: 10rem;

    @media only screen and (max-width: 1350px) {
      padding-left: 5rem;
    }

    @media only screen and (max-width: 1130px) {
      padding-left: 3rem;
    }

    &__heading {
      font-size: $f-ah-main-2;
      display: inline-block;
      border-bottom: 1px solid black;
      cursor: pointer;

      @media only screen and (max-width: 1130px) {
        font-size: $f-ah-main-3;
      }
    }
    &__story {
      border-radius: 3px;
      background-color: gold;
      width: 30rem;
      margin: 2.5rem 0;
      padding: 3rem;
      cursor: pointer;
      transition: all 0.1s;

      @media only screen and (max-width: 1060px) {
        width: auto;
      }

      &:hover {
        background-color: darken($color: gold, $amount: 2.5);
      }

      .heading {
        font-size: $f-ah-main-2;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

        @media only screen and (max-width: 1130px) {
          font-size: $f-ah-main-3;
        }
      }
      .time {
        font-size: $f-ah-main-3;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-bg;
        @media only screen and (max-width: 1130px) {
          font-size: $f-ah-main-4;
        }

        @media only screen and (max-width: 1060px) {
          font-size: $f-ah-main-4;
        }
      }
    }
  }

  &__features {
    padding-left: 10rem;
    // margin-left: 5rem;
    transition: all 0.2s;

    @media only screen and (max-width: 1350px) {
      padding-left: 5rem;
    }

    @media only screen and (max-width: 1130px) {
      padding-left: 3rem;
    }

    ul:hover > img {
      opacity: 0.8;
    }

    &__heading {
      font-size: $f-ah-main-2;
      display: inline-block;
      cursor: pointer;
      border-bottom: 1px solid black;

      @media only screen and (max-width: 1130px) {
        font-size: $f-ah-main-3;
      }
    }
    &__story {
      background-color: gold;
      margin: 2.5rem 0;
      width: 30rem;
      margin-bottom: 1.5rem;
      cursor: pointer;

      @media only screen and (max-width: 1060px) {
        width: auto;
      }

      &:hover {
        background-color: darken($color: gold, $amount: 2.5);
      }

      .fs-images {
        height: 150px;
        width: 100%;
        object-fit: cover;
        transition: all 0.2s;
      }

      .heading {
        padding: 1rem 2rem;
        font-size: $f-ah-main-3;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        @media only screen and (max-width: 1130px) {
          font-size: $f-ah-main-3;
        }

        @media only screen and (max-width: 1060px) {
          font-size: $f-ah-main-4;
        }
      }
    }
  }

  &__elsewhere {
    padding-left: 10rem;
    // margin-left: 5rem;
    transition: all 0.3s;

    @media only screen and (max-width: 1350px) {
      padding-left: 5rem;
    }

    @media only screen and (max-width: 1130px) {
      padding-left: 3rem;
    }

    // @media only screen and (max-width: 1060px) {
    //   padding-left: 10rem;
    // }

    &__heading {
      font-size: $f-ah-main-2;
      display: inline-block;
      border-bottom: 1px solid black;
      cursor: pointer;

      @media only screen and (max-width: 1130px) {
        font-size: $f-ah-main-3;
      }
    }
    &__story {
      background-color: $color-inactive-light-x2;
      margin: 2.5rem 0;
      padding-bottom: 1rem;
      width: 30rem;
      height: fit-content;
      cursor: pointer;
      transition: all 0.3s;

      @media only screen and (max-width: 1060px) {
        width: auto;
      }

      &:hover > img {
        opacity: 0.8;
      }

      &:hover {
        background-color: darken(
          $color: $color-inactive-light-x2,
          $amount: 2.5
        );
      }
      .ew-images {
        height: 150px;
        width: 100%;
        object-fit: cover;
      }
      .heading {
        padding: 1rem 1.5rem;
        font-size: $f-ch-main-3;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        cursor: pointer;

        @media only screen and (max-width: 1130px) {
          font-size: $f-ah-main-3;
        }

        @media only screen and (max-width: 1060px) {
          font-size: $f-ah-main-4;
        }
      }
      .desc {
        padding: 1rem 1.5rem;
        font-size: $f-ch-main-3-4;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        color: $color-desc;

        @media only screen and (max-width: 1130px) {
          font-size: $f-ah-main-4;
        }
      }
    }
  }
}

.main-body {
  // background-color: rgb(0, 112, 34);
  background-color: $color-secondary;
  padding: 6rem;
  padding-top: 3.2rem;
  text-align: justify;

  &__icons {
    margin-top: 5rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $color-desc;
    color: $color-secondary;
  }

  .user_text {
    font-size: $f-ah-main-3;
  }
  .user_icons {
    font-size: $f-ah-main-1;
    // transition: all 0.2s;
  }
  .rest:hover {
    // background-color: rgb(207, 0, 0);
    color: gold;
    cursor: pointer;
  }

  .heart:hover {
    // background-color: rgb(207, 0, 0);
    color: rgb(255, 40, 40);
    cursor: pointer;
  }

  hr {
    border: solid 1px $color-bg;
  }

  &__c {
    &__para {
      font-family: Arial, Helvetica, sans-serif;
      font-size: $f-ch-main-3;
    }

    img {
      margin: 3.5rem 0rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .img-desc {
      font-family: Arial, Helvetica, sans-serif;
      font-size: $f-ch-main-3-4;
      color: $color-desc;
      text-align: justify;
      margin-top: -3.5rem;
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      border-left: thick solid $color-desc;
    }
  }
}

.comments {
  background-color: $color-inactive-light-x3;
  padding: 2.5rem;

  &__heading {
    font-size: $f-ch-main-2;
    display: inline-block;
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  &__comment {
    background-color: $color-inactive-light;
    border-radius: 5px;
    height: 8rem;
    margin: 2rem 0rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    display: flex;
    transition: all 0.15s;

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      .user-feedback-icons {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        color: $color-bg;
        background-color: $color-inactive-light-x3;
        border-radius: 5px;
        border-top-right-radius: 0px;
        margin-left: -3rem;
        font-size: $f-ch-main-4;

        .user_icons {
          padding: 0 2.5rem;

          &:hover {
            color: $color-button;
          }
        }
      }
    }

    &:hover {
      background-color: darken($color: $color-inactive-light-x2, $amount: 8);
    }

    .profileIcon {
      border-radius: 50%;
      transform: scale(1.3);
      border: solid 1px $color-bg;
      cursor: pointer;
    }

    .indi-comment {
      background-color: $color-inactive-light-x2;
      width: 100%;
      margin-left: -3rem;
      padding: 1rem 3rem;
      border-radius: 10px;
      border-bottom-right-radius: 0px;
      align-self: center;
      text-align: left;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: $f-ch-main-3-4;
    }
  }
}

.more {
  background-color: $color-inactive-light-x3;
  padding: 2.5rem;
  padding-top: 5rem;

  .more-heading {
    font-size: $f-ch-main-2;
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  &__story {
    margin: 3rem;
    display: grid;
    grid-template-columns: min-content minmax(10rem, 2fr);
    background-color: $color-inactive-light;
    height: 15rem;
    border-radius: 10px;
    border-top-left-radius: 15px;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    transition: all 0.15s;

    &:hover {
      background-color: darken($color: $color-inactive-light-x2, $amount: 8);
    }

    &:hover > img {
      opacity: 0.9;
    }

    .ms-image {
      grid-row: 1/3;
      width: 250px;
      height: 100%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      // width: 50%;
      object-fit: cover;
      margin-right: 3rem;
    }
    .ms-heading {
      padding-top: 2rem;
      padding-right: 1rem;
      font-size: $f-ch-main-3;
    }
    .ms-date {
      grid-row: 2/3;
      grid-column: 2/3;
      font-size: $f-ch-main-4;
    }
  }
}

// .category {
//   background-color: $color-secondary;
//   padding: 2.5rem;
//   grid-column: span 2;

//   &__heading {
//     font-size: $f-ch-main-2;
//     display: inline-block;
//     border-bottom: 1px solid black;
//     cursor: pointer;
//   }

//   &__categories {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     .category-el {
//       margin: 2.5rem 5rem;
//       padding: 1rem 2rem;
//       background-color: $color-secondary;
//       border: solid 1px rgb(207, 0, 0);
//       transition: all 0.2s;

//       &:hover {
//         background-color: rgb(207, 0, 0);
//         color: $color-secondary;
//         border: solid 1px $color-secondary;
//         cursor: pointer;
//       }
//     }
//   }
// }

.category {
  background-color: $color-secondary;
  padding: 2.5rem;
  grid-column: span 2;

  &__heading {
    font-size: $f-ch-main-2;
    display: block;
    border-bottom: 1px solid black;
    cursor: pointer;
    text-align: center;
  }

  &__categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .category-el {
      text-align: center;
      margin: 1.5rem 1.5rem;
      padding: 1rem 3rem;
      background-color: $color-secondary;
      border: solid 1px rgb(207, 0, 0);
      transition: all 0.2s;

      &:hover {
        background-color: rgb(207, 0, 0);
        color: $color-secondary;
        border: solid 1px $color-secondary;
        cursor: pointer;
      }
    }
  }
}

img {
  height: 50px;
}
