<div class="grid-container">
  <div class="article-head">
    <div class="article-head__main">
      {{ heading }}
    </div>
    <div class="article-head__date">
      <span class="icon-clock"><fa-icon [icon]="faClock"></fa-icon></span>
      {{ time }}
    </div>
    <div class="article-head__share-icon">
      <fa-icon [icon]="faSquareShareNodes"></fa-icon>
    </div>
  </div>
  <div class="main-body">
    <hr />
    <div class="main-body__c">
      <img src="assets/Images/China_news_1.jpg" alt="" />
      <p class="img-desc">
        Mr Lee (centre) became one of the faces of the local government in 2019
        when police clashed with protesters in the streets
      </p>
      <p class="main-body__c__para" *ngFor="let data of datas">
        {{ firstSection }}
      </p>

      <img src="assets/Images/China_news_2.jpg" alt="" />
      <p class="img-desc">
        Hong Kong's protests turned violent, with police forces using tear gas,
        rubber bullets, water cannons and sometimes live ammunition
      </p>
      <p class="main-body__c__para" *ngFor="let data of datas">
        {{ secondSection }}
      </p>
      <img src="assets/Images/China_news_3.jpg" alt="" />
      <p class="img-desc">
        Mr Lee (second from right), seen here with Chinese officials, ran
        unopposed for Hong Kong's top post with Beijing's blessing
      </p>
      <p class="main-body__c__para" *ngFor="let data of datas">
        {{ thirdSection }}
      </p>
    </div>
    <div class="main-body__icons">
      <fa-icon class="user_icons rest" [icon]="faChevronLeft"></fa-icon>
      <fa-icon class="user_icons heart" [icon]="faHeart"></fa-icon>
      <fa-icon class="user_icons rest" [icon]="faUpRightFromSquare"></fa-icon>
      <fa-icon class="user_icons rest" [icon]="faBookmark"></fa-icon>
      <fa-icon class="user_icons rest" [icon]="faChevronRight"></fa-icon>
    </div>
  </div>
  <div class="comments">
    <h2 class="comments__heading">Popular Comments</h2>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-2.png" alt="" />
      <div class="user">
        <p class="indi-comment">{{ comment1 }}</p>
        <div class="user-feedback-icons">
          <fa-icon class="user_icons heart" [icon]="faHeart"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faLink"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faReply"></fa-icon>
        </div>
      </div>
    </div>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-3.png" alt="" />
      <div class="user">
        <p class="indi-comment">{{ comment2 }}</p>
        <div class="user-feedback-icons">
          <fa-icon class="user_icons heart" [icon]="faHeart"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faLink"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faReply"></fa-icon>
        </div>
      </div>
    </div>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-4.png" alt="" />
      <div class="user">
        <p class="indi-comment">{{ comment3 }}</p>
        <div class="user-feedback-icons">
          <fa-icon class="user_icons heart" [icon]="faHeart"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faLink"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faReply"></fa-icon>
        </div>
      </div>
    </div>
    <div class="comments__comment">
      <img class="profileIcon" src="assets/Images/comment-6.png" alt="" />
      <div class="user">
        <p class="indi-comment">{{ comment4 }}</p>
        <div class="user-feedback-icons">
          <fa-icon class="user_icons heart" [icon]="faHeart"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faLink"></fa-icon>
          <fa-icon class="user_icons heart" [icon]="faReply"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="side">
    <div class="side__top-stories">
      <h2 class="side__top-stories__heading">Top Stories</h2>
      <div class="side__top-stories__story">
        <div class="heading">Xi Jin Ping defends China's rule</div>
        <div class="time">2 hours ago</div>
      </div>
      <div class="side__top-stories__story">
        <div class="heading">What will be the next 25 years for Hong Kong?</div>
        <div class="time">12 hours ago</div>
      </div>
      <div class="side__top-stories__story">
        <div class="heading">
          'Prophet row' set country on fire - India Court
        </div>
        <div class="time">5 hours ago</div>
      </div>
    </div>
    <div class="side__features">
      <h2 class="side__features__heading">Features</h2>
      <div class="side__features__story">
        <ul>
          <img
            class="fs-images"
            src="assets/Images/assam-flood-1.jpg"
            alt="Assam-flood"
          />
          <div class="heading">Death and despair after urban flood</div>
        </ul>
      </div>
      <div class="side__features__story">
        <ul>
          <img class="fs-images" src="assets/Images/Japan.jpg" alt="" />
          <div class="heading">
            Living through Japan's hottest summer on record
          </div>
        </ul>
      </div>
      <div class="side__features__story">
        <ul>
          <img
            class="fs-images"
            src="assets/Images/petrol_rate_new-delhi_en.1574075645.jpg"
            alt=""
          />
          <div class="heading">Petrol rate increase in Delhi</div>
        </ul>
      </div>
    </div>
    <div class="side__elsewhere">
      <h2 class="side__elsewhere__heading">Elsewhere</h2>
      <div class="side__elsewhere__story">
        <img class="ew-images" src="assets/Images/zoom-camera.jpg" alt="" />
        <div class="heading">The case for turning off your Zoom Camera</div>
        <p class="desc">
          Workers may have a strong argument against apeearing on screen
        </p>
      </div>
      <div class="side__elsewhere__story">
        <img class="ew-images" src="assets/Images/orange-juice.jpg" alt="" />
        <div class="heading">A breakfast staple created by accident</div>
        <p class="desc">
          More than a century ago, a glut of oranges kick started a craze
        </p>
      </div>
    </div>
  </div>
  <div class="more">
    <h3 class="more-heading">More on this story</h3>
    <div>
      <ul class="more__story">
        <img class="ms-image" src="assets/Images/carrie-lam.jpg" alt="" />
        <h2 class="ms-heading">
          Carrie Lam: The controversial leader of Hong Kong
        </h2>
        <p class="ms-date">28 September 2021</p>
      </ul>
    </div>
    <div>
      <ul class="more__story">
        <img class="ms-image" src="assets/Images/china hong kong.jpg" alt="" />
        <h2 class="ms-heading">
          Why China is bent on crushing dissent in Hong Kong
        </h2>
        <p class="ms-date">26 May 2021</p>
      </ul>
    </div>
    <div>
      <ul class="more__story">
        <img class="ms-image" src="assets/Images/hong-kong-nsl.jpg" alt="" />
        <h2 class="ms-heading">What is Hong Kong's national security law?</h2>
        <p class="ms-date">3 days ago</p>
      </ul>
    </div>
    <div>
      <ul class="more__story">
        <img
          class="ms-image"
          src="assets/Images/Crossroads_201503_1.jpg"
          alt=""
        />
        <h2 class="ms-heading">The exiles: Hong Kong at a crossroads</h2>
        <p class="ms-date">30 January 2021</p>
      </ul>
    </div>
  </div>
  <div class="category">
    <h3 class="category__heading">Explore others</h3>
    <div class="category__categories">
      <h2 class="category-el">India</h2>
      <h2 class="category-el">Climate</h2>
      <h2 class="category-el">World</h2>
      <h2 class="category-el">Tech</h2>
      <h2 class="category-el">Business</h2>
      <h2 class="category-el">Science</h2>
      <h2 class="category-el">Future</h2>
      <h2 class="category-el">Culture</h2>
      <h2 class="category-el">Music</h2>
      <h2 class="category-el">Weather</h2>
      <h2 class="category-el">Music</h2>
      <h2 class="category-el">Travel</h2>
    </div>
  </div>
</div>
