.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 600px;
  }
}

.main-nav__heading {
  color: #fbfbfc;
  font-size: 3.2rem;
  position: relative;
  margin-right: 20rem;
  -webkit-animation: moveInDown 2s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: moveInDown 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (max-width: 700px) {
  .main-nav__heading {
    left: 5rem;
  }
}

.main-nav__heading:hover {
  color: #3bcf90;
  cursor: pointer;
}

.main-nav__heading__copyright {
  font-size: 1.5rem;
  position: absolute;
}

.main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 20rem;
  bottom: 0.6rem;
  width: 40rem;
  font-size: 1.5rem;
  padding: 0 2.7rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-animation: moveInDown 1s cubic-bezier(1, 0, 0, 1);
          animation: moveInDown 1s cubic-bezier(1, 0, 0, 1);
}

.main-nav__links .active {
  color: #fbfbfc;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border-bottom: solid 3px #25a56d;
  cursor: pointer;
}

@media only screen and (max-width: 1800px) {
  .main-nav__links {
    right: 23rem;
  }
}

@media only screen and (max-width: 700px) {
  .main-nav__links {
    right: 17rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-nav__links {
    right: 10rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.main-nav__links__link {
  text-decoration: none;
  color: #7f7f87;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (hover: none) {
  .main-nav__links__link {
    color: #fbfbfc;
  }
}

.main-nav__links__link:hover {
  color: #fbfbfc;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: solid 2px #25a56d;
}

.main-nav__button {
  background-color: #3bcf90;
  padding: 1rem 3rem;
  border: none;
  color: #fbfbfc;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  -webkit-animation: moveInDown 1s cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: moveInDown 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 700px) {
  .main-nav__button {
    position: relative;
    right: 5rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.main-nav__button:hover {
  background-color: #25a56d;
  color: #fbfbfc;
  cursor: pointer;
}

@-webkit-keyframes moveInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=header.component.css.map */