@import "../../stylings/variables.scss";



.main-nav {
  // background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__heading {
    color: $color-secondary;
    font-size: $heading--main;
    position: relative;
    animation: moveInDown 2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      color: $color-button;
      cursor: pointer;
    }

    &__copyright {
      background-color: rgb(0, 0, 0);
      font-size: 1.5rem;
      position: absolute;
    }
  }

  &__links {
    // background-color: rgb(0, 17, 255);
    display: flex;
    position: relative;
    right: 27rem;
    bottom: 0.6rem;
    width: 25rem;
    flex-shrink: 1;
    font-size: $heading--medium;
    padding: 0 2.7rem;
    justify-content: space-between;
    list-style: none;
    animation: moveInDown 1s cubic-bezier(1, 0, 0, 1);

    &__link {
      text-decoration: none;
      color: $color-inactive;
      font-weight: 700;
      transition: all 0.2s;

      &:hover {
        color: $color-secondary;
        cursor: pointer;
        padding-bottom: 0.5rem;
        border-bottom: solid 2px $color-button-hover;
      }
    }
  }
  &__button {
    background-color: $color-button;
    padding: 1rem 3rem;
    border: none;
    color: $color-secondary;
    font-size: $heading--medium-2;
    border-radius: 0.8rem;
    animation: moveInDown 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.2s;

    &:hover {
      background-color: $color-button-hover;
      color: $color-secondary;
      cursor: pointer;
    }
  }
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
